/user_service/target
/user_service/target/debug
/user_service/target/debug/build
/user_service/target/debug/build/actix-web-*
/user_service/target/debug/build/actix-*
*.env
*.env.*
.env
/user_service/target/debug/deps
/target/debug/.fingerprint/
/target/debug/build/
/target/
/.idea/
.idea/
.idea
/user_service/migrations/
/order_service/migrations/